{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        {% import 'status_macro.html' as status_macro %}
        {% if reply %}
            {{ status_macro.textarea(op='reply', head=handler.reply_handle(status.text, status.user.screen_name), text='Reply', status_id=status.id_str) }}
        {% endif %}
        {% if quote %}
            {{ status_macro.textarea(op='quote', head=handler.quote_handle(status.text, status.user.screen_name), text='Quote', status_id=status.id_str) }}
        {% endif %}
        {% if fav %}
            {{ status_macro.confirm_botton('fav', 'Fav', status_id=status.id_str) }}
        {% endif %}
        {% if unfav %}
            {{ status_macro.confirm_botton('unfav', 'Unfav', status_id=status.id_str) }}
        {% endif %}
        {% if retweet %}
            {{ status_macro.confirm_botton('retweet', 'Retweet', status_id=status.id_str) }}
        {% endif %}
        {% if unretweet %}
            {{ status_macro.confirm_botton('unretweet', 'Unretweet', status_id=status.id_str) }}
        {% endif %}
        {% if delete %}
            {{ status_macro.confirm_botton('delete', 'Delete', status_id=status.id_str) }}
        {% endif %}
        {{ status_macro.status_detail(status=status, me=me, date=handler.date_handle(status.created_at)) }}
    {% endif %}
{% endblock %}
