{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        {% import 'status_macro.html' as status_macro %}
        {{ status_macro.textarea(op='update', text='Share') }}
        <ul>
            {% for status in statuses %}
                {% import 'status_macro.html' as status_macro %}
                {{ status_macro.status_info(status=status, me=me,
                   minutes=minutes_handler(status.created_at)) }}
            {% else %}
            <li><em>Something wrong happened.</em></li>
            {% endfor %}
            {% import 'page_macro.html' as page_macro %}
            {{ page_macro.page_navigation(op=op, page=page, npage=npage, ppage=ppage) }}
        </ul>
    {% endif %}
{% endblock %}
