{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('update') }}" method=post>
      <dl>
        <dt>status:
        <dd><textarea name=text rows=5 cols=40>{{ head }}</textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    <ul>
      <h1>{{ statuses[0].user.name }} (@{{ statuses[0].user.screen_name }})</h1>
      {% for status in statuses %}
        <li>
          <p>
            <a href="{{ url_for('reply', status_id=status.id_str) }}">reply</a>
            {% if not status.retweeted %}
              <a href="{{ url_for('retweet', status_id=status.id_str) }}">retweet</a>
            {% endif %}
            {% if status.retweeted_status and status.user.screen_name == me %}
              <a href="{{ url_for('unretweet', status_id=status.id_str) }}">unretweet</a>
            {% endif %}
            <a href="{{ url_for('quote', status_id=status.id_str) }}">quote</a>
            {% if not status.favorited %}
              <a href="{{ url_for('fav', status_id=status.id_str) }}">fav</a>
            {% else %}
              <a href="{{ url_for('unfav', status_id=status.id_str) }}">unfav</a>
            {% endif %}
          </p>
          {{ status.text }}</li>
      {% endfor %}
      {% if page != '1' %}
        <a href="{{ url_for('user', page=ppage, username=username) }}">previous</a>
      {% endif %}
      <a href="{{ url_for('user', page=npage, username=username) }}">next</a>
    </ul>
  {% endif %}
{% endblock %}

