@font-face {
font-family: 'DroidSansMono';
src: url('DroidSansMono.ttf');
}
h2{
 font-size: 1.0em;
 font-style:Italic;
}

 .start{
 font-size: 2.0em;
 background-attachment:fixed;
 background-color: #000000;
 color:#ffffff;

}

.login{
 text-align: center;
 font-size: 1.2em;
 position: absolute; top:35%; left:45%;
 }

body {
background-color: #000000;
font-family:DroidSansMono, sans-serif;
}

 a:link {
color:#d0d0d0;
text-decoration: none;
}

a:visited {
color: #7B7B7B;
text-decoration: none;
}

li {
list-style:none;
padding:2px;
margin: 13px;
background-color: #4F4F4F;
width: auto;
}

.operation {
font-size: 0.8em;
}

.minute{
font-size: 0.8em;
}

p {
word-wrap:break-word;
}

.menu{
position: fixed;
width:100%;
top: 0px;
background-color: black;
}

.count_bio {
font-size:0.8em;
background-color: #4F4F4F;
width: 100%;
height: auto;
padding:2px 2px 4px 2px;
margin: 4px;
}
