{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('update') }}" method=post>
      <dl>
        <dt>status:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    <ul>
      {% for status in statuses %}
        <li><h2>{{ status.user.name }} (@{{ status.user.screen_name }})</h2>
          {{ status.text|safe }}</li>
      {% else %}
        <li><em>Something wrong happened.</em></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

